# generated latexmk files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.toc

# generated pandoc files
**/*.tex

# generated moonscript files
*.lua

# generated ldoc files
doc/
